body {
	line-height: 1;
	background: rgb(25,25,25);
    font-family: "Exo 2", sans-serif;
	color: rgb(0, 71, 255);
}

.flex {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.flex-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}